<html>
<%- include('header') %>
    <body>
        <form action="<%= brand._id ? '/brand/edit/' + brand._id : '/brand/add' %>" method="post">
            <div class="mb-3">
                <input type="text" name="id" hidden value="<%= brand._id %>">
                <label for="exampleInputEmail1" class="form-label">Name</label>
                <input type="text" class="form-control" name="name" value="<%= brand.name %>">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Country</label>
                <input type="text" class="form-control" name="country" value="<%= brand.country %>">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </body>
    <%- include('footer') %>
</html>